@font-face {
  font-family: "Arioso";
  src: url("/src/assets/fonts/Arioso\ Regular.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "AriosoRegular";
  src: url("/src/assets/fonts/ARIR.woff") format("woff");
  font-weight: bolder;
}


