@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Arioso";
  src: url("/src/assets/fonts/Arioso\ Regular.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "AriosoRegular";
  src: url("/src/assets/fonts/ARIR.woff") format("woff");
  font-weight: bolder;
}


