.discover-container {
  padding-bottom: 4rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  .discover-wrapper {
    @extend %container;
    @include xl {
      max-width: 90%;
    }
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .discover-card-wrapper {
      text-align: center;
      flex: 1 1 calc(25% - 1.5rem);
      @include breakpoint(850px) {
        flex: 1 1 calc(50% - 1.5rem);
      }
      @include sm {
        flex: 1 1 100%;
      }
      .discover-card {
        @extend %flex-column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.5rem;
        height: 100%;
        border: 1px solid gray;

        .discover-image {
          height: 6rem;
          @include sm {
            height: 4rem;
          }
          width: auto;
          img {
            @extend %image-contain;
          }
        }
        .discover-card-title {
          font-size: 1.2rem;
          line-height: 1.3;
          @include sm {
            font-size: 1rem;
            line-height: 1.1;
          }
        }
        .discover-card-description {
          font-size: 0.9rem;
          line-height: 1.6;
          @include sm {
            font-size: 0.8rem;
            line-height: 1.4;
          }
        }

        .discover-card-link {
          color: #5e5c5c;
          font-weight: 500;
          font-size: 0.9rem;
        }
        &:hover {
          border: none;
          box-shadow: rgb(231, 230, 230) 0px 0px 20px 1px;
          cursor: pointer;
          .discover-card-title {
            color: $primaryColor;
          }
          .discover-card-link {
            color: $primaryColor;
            font-weight: 600;
          }
        }
      }
    }
  }
}
