.special-menu-container {
  margin-top: 8rem;
  padding: 4rem 0;
  background-color: #f6f5f5;
  .special-menu-wrapper {
    .special-top-header {
      h4 {
        margin-bottom: 1rem;
      }
      text-align: center;
    }
    .special-menu-icons {
      width: 100%;
      max-width: 70%;
      margin: 0 auto;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      display: flex;
      // gap: rem;
      .special-menu-nav {
        padding: 0 1rem;
        @extend %flex-column;
        align-items: center;
        h4 {
          color: rgba(33, 37, 41, 0.75);
        }
        &:hover {
          cursor: pointer;
          h4 {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
