@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.hero-section .hero-wrapper, .header .header-wrapper .nav-wrapper .navbar .navbar-lists, .header .header-wrapper .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section .about-wrapper .about-content .about-subsection .about-subsection-wrapper, .hero-section .hero-wrapper .hero-container .hero-content .order-container, .hero-section .hero-wrapper .hero-container, .footer .footer-wrapper .footer-content-fourth .subscribe, .header .header-wrapper {
  display: flex;
  align-items: center;
}

.newscard-container .newscard .news-image-content img, .about-section .about-wrapper .about-image img, .discover-container .discover-wrapper .discover-card-wrapper .discover-card .discover-image img, .hero-section .hero-wrapper .hero-container .hero-image img, .hero-section .hero-wrapper .hero-container .hero-content .order-container .play-icon .play-icon-image, .footer .footer-wrapper .footer-content-third .footergrid .grid img, .special-offers-container .special-offer-wrapper .special-offer-mail .special-offer-submit-icon img, .review-wrapper .review-section .review-right-section img, .food-card-container .food-card .food-card-content .food-card-bottom .cart-icon img, .food-card-container .food-card .food-card-content .food-card-bottom .plus-icon img, .food-card-container .food-card .food-card-image img, .header .header-wrapper .nav-wrapper .search-icon .search-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.special-menu-container .special-menu-wrapper .special-menu-icons .special-menu-nav, .about-section .about-wrapper .about-content .about-text-content, .discover-container .discover-wrapper .discover-card-wrapper .discover-card, .hero-section .hero-wrapper .hero-container .hero-content .text-content, .hero-section .hero-wrapper .hero-container .hero-content, .playstore-section .palystore-wrapper .playstore-text, .review-wrapper .review-section .review-left-section {
  display: flex;
  flex-direction: column;
}

.about-section .about-wrapper button, .hero-section .hero-wrapper .hero-container .hero-content .order-container .order-button {
  padding: 1rem 1.8rem;
  border: none;
  color: white;
  background-color: #cc3737;
  border-radius: 4px;
  cursor: pointer;
}
.about-section .about-wrapper button:hover, .hero-section .hero-wrapper .hero-container .hero-content .order-container .order-button:hover {
  background-color: #292929;
}

.footer .footer-wrapper .footer-content-first .phone, .footer .footer-wrapper .footer-content-first .mail, .footer .footer-wrapper .footer-content-first .location {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer-wrapper .footer-content-first .phone img, .footer .footer-wrapper .footer-content-first .mail img, .footer .footer-wrapper .footer-content-first .location img {
  width: 24px;
  height: 24px;
}

.footer .footer-wrapper .footer-content-fourth .under-line, .footer .footer-wrapper .footer-content-third .under-line, .footer .footer-wrapper .footer-content-second .under-line {
  margin-top: 4px;
  height: 4px;
  width: 8rem;
  background-color: #fff;
}

@font-face {
  font-family: "Arioso";
  src: url("/src/assets/fonts/Arioso Regular.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "AriosoRegular";
  src: url("/src/assets/fonts/ARIR.woff") format("woff");
  font-weight: bolder;
}
*,
*::after,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h5,
h6 {
  color: #292929;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.3;
}

h4 {
  font-family: "AriosoRegular", sans-serif;
  color: #cc3737;
  font-size: larger;
}

p {
  color: #818181;
  line-height: 1.6;
  font-size: 1rem;
}

input[type=text] {
  width: 100%;
  padding: 0.8rem;
  border: none;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.text-accent {
  color: #292929;
}

.flex {
  display: flex;
  gap: 1rem;
}

.header {
  position: sticky;
  top: 0;
  padding: 1.4rem 0;
  background-color: #f6f5f5;
  z-index: 10000;
}
.header .header-wrapper {
  justify-content: space-between;
  color: #606060;
}
.header .header-wrapper .nav-wrapper {
  gap: 2rem;
}
.header .header-wrapper .nav-wrapper .navbar {
  font-size: 1rem;
  line-height: 1.6;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists {
  gap: 1.5rem;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks {
  position: relative;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks .dropdown-icon {
  width: 1rem;
  height: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks:hover .dropdown-icon {
  transform: rotate(180deg);
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks .dropdown-list {
  width: 120px;
  background: #fff;
  position: absolute;
  visibility: hidden;
  border-top: solid 2px #cc3737;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks .dropdown-list li {
  padding: 0.5rem;
  border-bottom: gray 1px solid;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks .dropdown-list li:hover {
  background-color: #e2dede;
}
.header .header-wrapper .nav-wrapper .navbar .navbar-lists .navlinks:hover .dropdown-list {
  visibility: visible;
}
.header .header-wrapper .nav-wrapper .search-icon {
  width: 1rem;
  height: 1rem;
}
.food-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.food-card-container .food-card {
  position: relative;
  margin-top: 1rem;
  max-width: 22rem;
  background-color: #fff;
}
.food-card-container .food-card:hover {
  cursor: pointer;
}
.food-card-container .food-card:hover .food-card-image img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.food-card-container .food-card:hover .plus-icon {
  display: flex !important;
}
.food-card-container .food-card:hover .price {
  display: block !important;
}
.food-card-container .food-card:hover .cart-icon {
  background-color: #cc3737 !important;
  transition: background-color 0.3s ease-in-out;
}
.food-card-container .food-card .food-card-image {
  overflow: hidden;
  width: 100%;
}
.food-card-container .food-card .food-card-image img {
  box-shadow: 0 0 13px 1px #ddd;
}
.food-card-container .food-card .food-card-image img:hover {
  transform: ease 0.3s scale(1.05);
}
.food-card-container .food-card .food-card-content {
  padding: 1rem;
}
.food-card-container .food-card .food-card-content .food-card-title {
  color: #292929;
  font-size: large;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.food-card-container .food-card .food-card-content p {
  line-height: 1.4;
  font-size: 0.9rem;
}
.food-card-container .food-card .food-card-content .food-card-bottom {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food-card-container .food-card .food-card-content .food-card-bottom .delivery-price {
  font-size: 1rem;
  color: #cc3737;
  font-weight: lighter;
}
.food-card-container .food-card .food-card-content .food-card-bottom .plus-icon {
  border: gray solid 1px;
  width: 2.2rem;
  height: 2.2rem;
  padding: 4px;
  display: none;
}
.food-card-container .food-card .food-card-content .food-card-bottom .cart-icon {
  width: 2.2rem;
  height: 2.2rem;
  padding: 6px;
  background-color: #292929;
}
.food-card-container .food-card .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #cc3737;
  color: white;
  width: 4rem;
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
  display: none;
}

.review-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
}
.review-wrapper .review-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}
.review-wrapper .review-section .review-left-section {
  flex: 60%;
  padding: 0 4rem;
  box-shadow: 0 0 13px 1px #ddd;
  border-left: 2px solid #cc3737;
  gap: 2rem;
}
.review-wrapper .review-section .review-left-section .review-title {
  font-size: 2.2rem;
}
.review-wrapper .review-section .review-left-section .reviewer-section {
  align-items: center;
}
.review-wrapper .review-section .review-left-section .reviewer-section .reviewer-name {
  font-size: 1rem;
}
.review-wrapper .review-section .review-left-section .reviewer-section small {
  font-size: 0.8rem;
}
.review-wrapper .review-section .review-left-section .review-button-container {
  display: flex;
  gap: 0.5rem;
}
.review-wrapper .review-section .review-left-section .review-button-container .slider-btn {
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background-color: gray;
  border-radius: 50%;
}
.review-wrapper .review-section .review-left-section .review-button-container .slider-btn.active {
  background-color: #cc3737;
}
.review-wrapper .review-section .review-right-section {
  flex: 40%;
  height: 28rem;
}
.special-offers-container {
  position: relative;
  background-image: url("/src/assets/images/special-offers-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 16rem;
}
.special-offers-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.special-offers-container .special-offer-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
}
.special-offers-container .special-offer-wrapper .special-offer-text-content {
  flex: 1;
  z-index: 2;
}
.special-offers-container .special-offer-wrapper .special-offer-text-content h3 {
  font-size: 2rem;
  color: white;
}
.special-offers-container .special-offer-wrapper .special-offer-text-content p {
  color: white;
}
.special-offers-container .special-offer-wrapper .special-offer-mail {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 2;
}
.special-offers-container .special-offer-wrapper .special-offer-mail .special-offer-input-container {
  width: 70%;
}
.special-offers-container .special-offer-wrapper .special-offer-mail .special-offer-submit-icon {
  width: 42px;
  height: 42px;
  padding: 8px;
  background-color: #cc3737;
}
.footer {
  background-color: #292929;
  color: white;
}
.footer .footer-wrapper {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  gap: 2rem;
  width: 100%;
}
.footer .footer-wrapper .footer-content-first {
  flex: 1;
}
.footer .footer-wrapper .footer-content-first p {
  color: white;
  padding-top: 1.6rem;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}
.footer .footer-wrapper .footer-content-first .location {
  padding-bottom: 1.4rem;
}
.footer .footer-wrapper .footer-content-first .mail {
  padding-bottom: 1.4rem;
}
.footer .footer-wrapper .footer-content-first .phone {
  padding-bottom: 1.4rem;
}
.footer .footer-wrapper .footer-content-second {
  flex: 0.7;
}
.footer .footer-wrapper .footer-content-second ul {
  padding-top: 2rem;
}
.footer .footer-wrapper .footer-content-second ul li {
  padding-bottom: 1rem;
  font-family: "Roboto";
}
.footer .footer-wrapper .footer-content-second h3 {
  color: white;
  font-size: 1.6rem;
}
.footer .footer-wrapper .footer-content-third {
  flex: 1;
}
.footer .footer-wrapper .footer-content-third h3 {
  color: white;
  font-size: 1.6rem;
}
.footer .footer-wrapper .footer-content-third .footergrid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.footer .footer-wrapper .footer-content-third .footergrid .grid {
  width: 4rem;
  height: 4rem;
}
.footer .footer-wrapper .footer-content-third .footergrid .grid img {
  border-radius: 4px;
}
.footer .footer-wrapper .footer-content-fourth {
  flex: 1;
}
.footer .footer-wrapper .footer-content-fourth h3 {
  color: white;
  font-size: 1.6rem;
}
.footer .footer-wrapper .footer-content-fourth p {
  color: white;
  padding-top: 1.6rem;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}
.footer .footer-wrapper .footer-content-fourth .subscribe .subscribe-btn {
  background-color: #cc3737;
  padding: 0.5rem 1rem 0 1rem;
  height: 2.7rem;
}
.footer .footer-wrapper .footer-content-fourth .links {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.footer .footer-wrapper .footer-content-fourth .links img {
  width: 1rem;
  height: 1rem;
}
.footer .copyrights {
  color: rgb(167, 164, 164);
  text-align: center;
  border-top: solid 1px gray;
  padding: 1rem 0;
  font-family: "Roboto";
  font-size: 0.9rem;
}

.review-section {
  padding-top: 4rem;
}
.review-section .review-container .review-heading {
  text-align: center;
}
.review-section .review-container .review-heading h4 {
  margin-bottom: 1rem;
}
.review-section .review-container .review-heading h3 {
  margin-bottom: 1rem;
}

.playstore-section {
  padding: 8rem 0;
}
.playstore-section .palystore-wrapper {
  height: 28rem;
  width: 100%;
  background-color: #fbf1e8;
  display: flex;
  gap: 6rem;
  border-radius: 4px;
}
.playstore-section .palystore-wrapper .playstore-text {
  flex: 60%;
  padding-top: 4rem;
  padding-left: 2rem;
  gap: 2rem;
}
.playstore-section .palystore-wrapper .playstore-text .get-it-on {
  display: flex;
  gap: 1rem;
}
.playstore-section .palystore-wrapper .playstore-mobile-screens {
  flex: 40%;
  gap: 1rem;
  display: flex;
  width: 300px;
  height: 400px;
}
@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.playstore-section .palystore-wrapper .playstore-mobile-screens img {
  width: 100%;
  max-width: 200px;
}
.playstore-section .palystore-wrapper .playstore-mobile-screens .app1 {
  animation: moveY 3s ease-in-out infinite alternate;
}
.playstore-section .palystore-wrapper .playstore-mobile-screens .app2 {
  animation: moveY 3s ease-in-out infinite alternate-reverse;
}

.news-section {
  background-color: #e2f1fa;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.news-section .news-heading {
  text-align: center;
}
.news-section .news-heading h4 {
  padding-bottom: 2rem;
}
.news-section .news-heading h3 {
  font-size: 2.2rem;
  line-height: 1.3;
  padding-bottom: 2rem;
}

.hero-section {
  padding-top: 4rem;
  background-color: #f6f5f5;
}
.hero-section .hero-wrapper {
  z-index: 20;
  gap: 2rem;
  flex-direction: column;
}
.hero-section .hero-wrapper .hero-container {
  gap: 2rem;
}
.hero-section .hero-wrapper .hero-container .hero-content {
  flex: 50%;
  gap: 2rem;
}
.hero-section .hero-wrapper .hero-container .hero-content .text-content {
  gap: 1rem;
}
.hero-section .hero-wrapper .hero-container .hero-content .text-content .hero-heading {
  font-size: 48px;
  line-height: 1.2;
}
.hero-section .hero-wrapper .hero-container .hero-content .order-container {
  gap: 1rem;
}
.hero-section .hero-wrapper .hero-container .hero-content .order-container .play-icon {
  width: 3rem;
  height: 3rem;
}
.hero-section .hero-wrapper .hero-container .hero-content .order-container .watch {
  font-size: 1rem;
}
.hero-section .hero-wrapper .hero-container .hero-image {
  flex: 50%;
}
.hero-section .hero-wrapper .button-container {
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.hero-section .hero-wrapper .button-container .slider-btn {
  width: 1.5rem;
  height: 4px;
  border: none;
  background-color: gray;
}
.hero-section .hero-wrapper .button-container .slider-btn.active {
  background-color: #cc3737;
}
.hero-section .bg-fillers .eggplant {
  position: absolute;
  z-index: 1;
  right: -2%;
  top: 20%;
}
.hero-section .bg-fillers .fork {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 40%;
  transform: rotate(10deg);
}
.hero-section .bg-fillers .brocoli {
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: -4%;
  transform: rotate(40deg);
}
.hero-section .bg-fillers img {
  width: 12rem;
  height: auto;
  opacity: 0.04;
}

.discover-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.discover-container .discover-wrapper {
  display: flex;
  gap: 1.8rem;
}
.discover-container .discover-wrapper .discover-card-wrapper {
  text-align: center;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card {
  min-height: 23rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid gray;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card .discover-image {
  height: 4rem;
  width: auto;
  margin-bottom: 2rem;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card .discover-card-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card .discover-card-description {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card .discover-card-link {
  color: #5e5c5c;
  font-weight: 500;
  font-size: 0.9rem;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card:hover {
  border: none;
  box-shadow: rgb(231, 230, 230) 0px 0px 20px 1px;
  cursor: pointer;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card:hover .discover-card-title {
  color: #cc3737;
}
.discover-container .discover-wrapper .discover-card-wrapper .discover-card:hover .discover-card-link {
  color: #cc3737;
  font-weight: 600;
}

.about-section {
  margin-top: 8rem;
}
.about-section .about-wrapper {
  display: flex;
  gap: 4rem;
  width: 100%;
}
.about-section .about-wrapper .about-image {
  flex: 50%;
}
.about-section .about-wrapper .about-content {
  flex: 50%;
}
.about-section .about-wrapper .about-content .about-text-content {
  gap: 0.6rem;
  margin-bottom: 1.2rem;
}
.about-section .about-wrapper .about-content .about-text-content h3 {
  font-size: 2.2rem;
  line-height: 1.3;
}
.about-section .about-wrapper .about-content .about-text-content p {
  padding-right: 1rem;
}
.about-section .about-wrapper .about-content .about-subsection {
  padding-top: 1rem;
}
.about-section .about-wrapper .about-content .about-subsection .about-subsection-wrapper {
  gap: 1.5rem;
}
.about-section .about-wrapper .about-content .about-subsection .about-subsection-wrapper .about-subsection-icon {
  padding: 1rem;
  border-radius: 4px;
  background-color: rgba(204, 55, 55, 0.1);
}
.about-section .about-wrapper .about-content .about-subsection .about-subsection-wrapper .about-subsection-text h5 {
  font-size: 1rem;
}
.about-section .about-wrapper .about-content .about-subsection .about-subsection-wrapper .about-subsection-text p {
  font-size: 0.85rem;
  line-height: 1.3;
  padding-right: 1rem;
}
.about-section .about-wrapper button {
  margin-top: 3rem;
}

.special-menu-container {
  margin-top: 8rem;
  padding: 4rem 0;
  background-color: #f6f5f5;
}
.special-menu-container .special-menu-wrapper .special-top-header {
  text-align: center;
}
.special-menu-container .special-menu-wrapper .special-top-header h4 {
  margin-bottom: 1rem;
}
.special-menu-container .special-menu-wrapper .special-menu-icons {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}
.special-menu-container .special-menu-wrapper .special-menu-icons .special-menu-nav {
  padding: 0 1rem;
  align-items: center;
}
.special-menu-container .special-menu-wrapper .special-menu-icons .special-menu-nav h4 {
  color: rgba(33, 37, 41, 0.75);
}
.special-menu-container .special-menu-wrapper .special-menu-icons .special-menu-nav:hover {
  cursor: pointer;
}
.special-menu-container .special-menu-wrapper .special-menu-icons .special-menu-nav:hover h4 {
  color: #cc3737;
}

.newscard-container {
  display: flex;
  gap: 1.5rem;
}
.newscard-container .newscard {
  background-color: #fff;
  box-shadow: 0 0 13px 1px #ddd;
}
.newscard-container .newscard:hover {
  cursor: pointer;
}
.newscard-container .newscard:hover .news-image-content img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.newscard-container .newscard:hover .news-text-content h3 {
  color: #cc3737;
}
.newscard-container .newscard .news-image-content {
  width: 22rem;
  height: 18rem;
  overflow: hidden;
}
.newscard-container .newscard .news-image-content img:hover {
  transform: ease 0.3s scale(1.05);
}
.newscard-container .newscard .news-text-content {
  padding: 0.5rem 1rem;
}
.newscard-container .newscard .news-text-content h3 {
  padding-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.3;
}
.newscard-container .newscard .news-text-content p {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: "Roboto";
}
.newscard-container .newscard .news-text-content .news-date-section {
  border-top: 1px gray solid;
  padding: 0.8rem 0;
  display: flex;
  color: gray;
  justify-content: space-between;
  align-items: center;
}
.newscard-container .newscard .news-text-content .news-date-section .date {
  font-size: smaller;
}
.newscard-container .newscard .news-text-content .news-date-section .read-more {
  font-size: 0.9rem;
  line-height: 1.6;
  border-bottom: 2px gray solid;
}
.newscard-container .newscard .news-text-content .news-date-section .read-more:hover {
  border-bottom: #cc3737 solid 2px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */