.review-section {
  padding-top: 4rem;
  .review-container {
    .review-heading {
      text-align: center;
      h4 {
        margin-bottom: 1rem;
      }
      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

//mda
.playstore-section {
  padding: 8rem 0;
  .palystore-wrapper {
    @extend %container;
    @include xl {
      max-width: 90%;
    }
    // height: 28rem;
    width: 100%;
    background-color: #fbf1e8;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 4px;
    padding-left: 2rem;
    @include sm {
      padding: 2rem 1rem;
    }
    .playstore-text {
      flex: 1 1 calc(60% - 3rem);
      @extend %flex-column;
      gap: 2rem;

      .get-it-on {
        display: flex;
        gap: 1rem;
        width: 350px;
        height: auto;
        @include md {
          width: 250px;
          height: auto;
        }
        
        img {
          @extend %image-contain;
        }
      }
    }
    
    .playstore-mobile-screens {
      flex: 1 1 calc(40% - 3rem);
      gap: 1rem;
      display: flex;
      width: 300px;
      height: 400px;
      @include sm {
        display: none;
      }
      @keyframes moveY {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(0);
        }
      }

      img {
        width: 100%;
        max-width: 200px;
      }
      .app1 {
        animation: moveY 3s ease-in-out infinite alternate;
      }
      .app2 {
        animation: moveY 3s ease-in-out infinite alternate-reverse;
      }
    }
  }
}

//
.news-section {
  background-color: #e2f1fa;
  padding-top: 4rem;
  padding-bottom: 8rem;
  .news-heading {
    text-align: center;
    h4 {
      padding-bottom: 2rem;
    }
    h3 {
      font-size: 2.2rem;
      line-height: 1.3;
      padding-bottom: 2rem;
    }
  }
}
