.header {
  position: sticky;
  top: 0;
  padding: 1.4rem 0;
  background-color: #f6f5f5;
  z-index: 10000;
  .header-wrapper {
    @extend %container;
    @include lg {
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
    }
    @extend %align-center;
    justify-content: space-between;
    color: #606060;
    .logo {
      img {
        @include sm {
          width: 6rem;
          height: auto;
        }
      }
    }
    .nav-wrapper {
      @extend %content-center;
      gap: 2rem;
      .navbar {
        @include breakpoint(1279px) {
          display: none;
        }
        font-size: 1rem;
        line-height: 1.6;
        .navbar-lists {
          @extend %content-center;
          gap: 1.5rem;

          .navlinks {
            position: relative;
            .dropdown-icon {
              width: 1rem;
              height: 1rem;
              object-fit: cover;
              transition: transform 0.3s ease;
            }
            &:hover .dropdown-icon {
              transform: rotate(180deg);
            }
            .dropdown-list {
              width: 120px;
              background: #fff;
              position: absolute;
              visibility: hidden;
              border-top: solid 2px $primaryColor;
              li {
                padding: 0.5rem;
                border-bottom: gray 1px solid;
                &:hover {
                  background-color: #e2dede;
                }
              }
            }
            &:hover {
              .dropdown-list {
                visibility: visible;
              }
            }
          }
        }
      }

      .contactnum {
        @include md {
          display: none;
        }
      }

      .contact-icon {
        @include sm {
          display: none;
        }
      }
      .search-icon {
        width: 1.5rem;
        height: 1.5rem;
        @include breakpoint(309px) {
          display: none;
        }
        .search-image {
          @extend %image-contain;
        }
        @include sm {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      .burger-menu {
        display: none;
        color: gray;
        transition: color 0.3s ease-in-out;
        width: 32px;
        height: 32px;

        @include breakpoint(1279px) {
          display: block;
        }
        @include sm {
          width: 24px;
          height: 24px;
        }
        &:hover {
          cursor: pointer;
          color: $primaryColor;
        }
      }
    }
  }
}
